* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: calibri;
}

.logo {
  font-size: 80px;
  line-height: 94px;
  margin: 63px 0 38px;
  display: inline-block;
}

.logo span {
  color: #4bcaff;
}

.menu {
  display: flex;
  background: #35444f;
  padding: 0 162px;
  justify-content: center;
  height: 72px;
  margin-bottom: 48px;
}

.menu-item {
  display: flex;
  border-left: 1px solid #ffffff;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.menu-item:hover {
  background-color: #222f3a;
  transition: 0.5s;
}

.menu-item.last {
  border-right: 1px solid #ffffff;
}

.menu-item-link {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}

main {
  display: flex;
  justify-content: space-between;
}

.main-content {
  margin-bottom: 20px;
}

.aside {
  width: 344px;
  height: 399px;
  font-size: 27px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aside-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 42px;
}

.aside-item:hover {
  background-color: #dbdbdb;
  transition: 0.5s;
}

.aside-link {
  color: #495863;
}

.aside-link:hover {
  margin-left: 38px;
  color: #35444f;
  transition: 0.5s;
}

section {
  width: 885px;
}

.image {
  width: 885px;
  height: 529px;
  margin-bottom: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
}

.pic:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.text {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-bottom: 34px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin-bottom: 30px;
  background: rgba(99, 105, 110, 0.48);
  height: 69px;
  font-size: 28px;
  align-items: center;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  color: #0c1927;
}

.footer-menu-link {
  color: #0c1927;
}

.footer-menu-link:hover {
  color: #3181a6;
  text-decoration: underline;
}

.copyright {
  color: #010101;
  font-size: 24px;
}
