.item-img{
    width: 100%;
    display: table-cell;
}

.img-cell{
   width: 90px;
}

.actions-cell{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}