* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu{
    background: #313131;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin: 22px 0 20px 27px;
    display: flex;
}

.logo-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 27px;
}

.menu-list{
    display: flex;
    align-items: center;
}

.menu-list-item{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto 35px;
}

.menu-list-item:hover{
    color: #14B9D5;
    transition: 0.5s;
}

.search{
    background: #000000;
    display: flex;
    align-items: center;
}

.search-img{
    margin: auto 26px;
}

#nav-page{
    display: flex;
    justify-content: space-around;
    padding-block: 10px;
    background-color: #5B6469;
}

#nav-page a{
    color: #FFFFFF;
    font-weight: bold;
}

.news{
    background-image: url(./images/header-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 164px;
    text-align: center;
    padding-bottom: 74px;
    background-attachment: fixed;
}

.news-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 44px;
}

.news-links{
    display: flex;
    justify-content: center;
}

.news-links-item{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 170px;
    padding-top: 16px;
    padding-bottom: 17px;
    border-color: #000;
    background-color: #89CA62;
    border-radius: 3px;
}

.news-links-item:last-child{
    background-color: #14B9D5;
    margin-left: 20px;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.popular-posts{
    background: #F2F2F2;
    padding-bottom: 30px;
}

h3{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    padding-top: 49px;
    margin-bottom: 52px;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 898px;
    align-content: space-between;
}

.posts-item{
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    background: #FFFFFF;
    margin-bottom: 30px;
}

.post-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin: 20px auto 22px;
    text-align: center;
}

.clients {
    background-image: url(./images/clients-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 106px;
    padding-bottom: 191px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
}    

.cliets-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    grid-column: 1/5;
    text-align: center;
    margin-bottom: 87px;
}

.line{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    border: none;
    grid-column: 1/5;
    justify-content: center;
    margin: 0 auto 106px;
}

.clients-img{
    margin: auto auto;
}

.top-images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    justify-items: stretch;
}

.top-images img {
    width: 100%;
}

h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-bottom: 15px;
}

p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.hot-news figcaption{
    background-color:#F9F7F7;
}

.hot-news-emirate, .hot-news-spain{
    width: 856px;
    display: flex;
}

.hot-news-egipt, .hot-news-maldives, .hot-news-tenerife, .hot-news-britain {
    width: 554px;
    display: flex;
    flex-direction: column;
}

.hot-news-nebula, .hot-news-ireland{
    width: 277px;    
    display: flex;
    flex-direction: column;
}

.hot-news-emirate-wrapper, .hot-news-spain-wrapper{
    padding: 41px 24px 40.5px 0;
    text-align: end;
}

.hot-news-nebula-wrapper, .hot-news-ireland-wrapper{
    text-align: center;
    padding-top: 11px;
}

.hot-news-egipt-wrapper, .hot-news-maldives-wrapper, .hot-news-tenerife-wrapper, .hot-news-britain-wrapper{
    padding: 14px 14px 2px 13px;
    text-align: end;
}

.hot-news{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 44px;
    margin-bottom: 77px;
}

.hot-news-emirate{
    grid-column: 1/4;
}

.hot-news-ireland{
    justify-self: end;
}

.hot-news-egipt{
    grid-column: 1/3;
}

.hot-news-maldives{
    grid-column: 3/5;    
    justify-self: end;
}

.hot-news-tenerife{
    grid-column: 1/3;
}

.hot-news-britain{
    grid-column: 3/5;
    justify-self: end;
}

.hot-news-spain{
    grid-column: 2/5;
    justify-self: end;
}

footer{
    background-color: #000000;
}

.footer-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.footer-text{
    font-size: 13px;
    color: #FFFFFF;    
    margin-top: 29px;
    margin-bottom: 30px;
}

.footer-logo{
    justify-self: end;
}

.up-btn{
    width: 65px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(81, 81, 82, 0.7);
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
}

.up-btn.is-show{
    opacity: 1;
    visibility: visible;
}

.posts-toggle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 170px;
    padding-top: 16px;
    padding-bottom: 17px;
    border: none;
    background-color: #89CA62;
    border-radius: 3px; 
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
