.add-news {
   display: flex;
   height: 100vh;
   margin-right: 100px;
}

.form-wrap {
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
}
form {
   border: 1px solid rgba(98, 98, 98, 0.2);
   border-radius: 5px;
   box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(120, 127, 255, 0.5);
   height: 400px;
   width: 350px;
   padding-inline: 30px;
   padding-block: 35px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   row-gap: 25px;
   position: relative;
}

select {
   border-radius: 8px;
   padding: 10px 15px;
   border: none;
   box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 5px 5px 5px rgba(70, 70, 70, 0.3);
   width: 100%;
}

.form__title,
.form__text {
   border-radius: 8px;
   border: none;
   padding: 5px;
   box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 5px 5px 5px rgba(70, 70, 70, 0.3);
   padding-top: 15px;
   padding-left: 15px;
}

.form__header {
   color: rgb(2, 15, 86);
   font-size: 18px;
   margin-block: 10px;
   width: 100%;
   text-align: center;
}

.form__radio {
   width: 100%;
   font-size: 12px;
   display: flex;
   align-items: center;
}

.form__radio-btn {
   cursor: pointer;
   border-radius: 50%;
   width: 10px;
   height: 10px;
   border: 1px solid rgb(2, 15, 86);
   margin: 3px;
   div {
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: rgb(2, 15, 86);
      margin: 2px;
   }
}

.form__title {
   min-height: 30px;
   width: 330px;
}

.form__text {
   height: 100%;
   width: 330px;
}

.form__submit {
   cursor: pointer;
   color: white;
   font-size: 15px;
   font-weight: bold;
   width: 100%;
   padding: 10px;
   border-radius: 5px;
   background-color: rgb(50, 60, 113);
   box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(92, 97, 188, 0.5);
   border-radius: 8px;
   border: none;
}

.form__submit:hover {
   background-color: rgb(13, 21, 67);
   box-shadow: rgba(0, 0, 0, 0.6) 0 12px 28px 0;
}
