.icon-favourite{
    width: 20px;
    cursor: pointer;
    
    &:hover {
        width: 22px;
    }
}

.btn--add {
    border-radius: 3px;
    font-size: 10px;
    color: white;
    border-style: none;
    padding: 5px 7px;
    cursor: pointer;
    margin-left: 8px;
}