* {
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

header{
    position: relative;
    overflow: hidden;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
    background-image: url(./img/bg1.jpg);
}

.menu{
    display: flex;
}