* {
  box-sizing: border-box;
}

table{
  width: 1197px;
  height: 660px;
  border-top: 28px solid #3A4965;
  border-right: 29px solid #3A4965;
  border-bottom: 21px solid #3A4965;
  border-left: 27px solid #3A4965;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #484848;
  font-family: 'Arimo', sans-serif;
  text-align: center;
}

tr td{
  vertical-align: middle;
}

tr td:nth-child(even){
  width: 160px;
  background-color: #E3E3E3;
}

tr td:nth-child(3), tr td:nth-child(5){
  width: 160px;
  background-color: #F2F2F2;
}

tr td:last-child{
  width: 174px;
  background-color: #F2F2F2;
}

thead{
  border-bottom: 12px solid #3A4965;
  font-weight: bold;
  height: 123px;
}

thead td:first-child{
  background-color: #FAFAFA;
}

thead td:first-child div:first-child{
  font-size: 14px;
  line-height: 23px;
}

thead td:first-child div:last-child{
  font-size: 20px;
  line-height: 28px;
}


tr:nth-child(2){
  height: 168px;
}

tr:nth-child(3){
  height: 179px;
}

.pricing-plan-standard{
  background-color: #89C331;
  color: #FFFFFF;
  font-weight: bold;
}

.pricing-plan-ultimate{
  background-color: #F04A56;
  color: #FFFFFF;
  font-weight: bold;
}

.pricing-plan-premium{
  background-color: #20807C;
  color: #FFFFFF;
  font-weight: bold;
}

.pricing-plan-title{
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 4px;
}

.price-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 11px;
}

.pricing-plan-price{
  font-size: 36px;
  line-height: 28px;
  width: 67px;
  margin-right: 3px;  
  position: relative;
}

.pricing-plan-price::after{
  content: '.99';
  position: absolute;
  font-size: 18px;
  line-height: 28px;
  width: 54px;
  top: -9px;
  left: 38px;
}

div span:nth-child(2){
  font-size: 14px;
  line-height: 28px;
  width: 112px;
}


a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  background-color: #414141;
  height: 36px;
  width: 147px;
  box-shadow: 0 8px 0 #343434;
  margin-inline: auto;
  border-radius: 4px;
  padding-top: 8px;
}

tr:nth-child(2) td:not(:first-child){
  border-top: 2px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;  
}

