.card{
    width: 233px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.38);
    border-radius: 3px;

    &__picture{
        width: 100%;
    }

    &__info{
        padding: 10px;
        h4{
            font-size: 13px;
            margin-bottom: 5px;
            font-weight: normal;
            text-align: left;
        }
     
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__code {
        font-style: italic;
        text-align: left;
        margin-bottom: 5px;
        font-size: 11px;
        color: rgb(34, 34, 34);
    }

    &__color{
        font-size: 11px;
        text-align: left;
        margin-bottom: 5px;
        color: rgb(137, 120, 114);
        font-weight: 600;
    }

    &__price{
        font-size: 14px;
        font-weight: 700;
        color: #1E1E20;
    }

    button{
        border-radius: 3px;
        font-size: 10px;
        color: white;
        border-style: none;
        padding: 5px 7px;
        cursor: pointer;
        margin-left: 8px;
    }

    &__favourite{
        width: 20px;
        cursor: pointer;

        &:hover {
            width: 22px;
        }
    }
}