* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

table{
    border-left: 22px solid #3A4965; 
    border-top: 22px solid #3A4965; 
    border-bottom: 32px solid #3A4965; 
    border-right: 30px solid #3A4965; 
    background: #F2F2F2;
    font-family: 'Arimo', sans-serif;
    width: 1192px;
    height: 736px;
    color: #484848;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

tr td{
  vertical-align: middle;
}

tr td:nth-child(1){
  border-right: 2px solid #c7c7c7;
}
tr td:nth-child(3):not(.ultimate-title){
  border-left: 1px solid #c7c7c7;;
  border-right: 1px solid #c7c7c7;
}

tr:nth-child(3), tr:nth-child(5), tr:nth-child(7){
    height: 72px;
}

tr:nth-child(4), tr:nth-child(6), tr:nth-child(8){
  background-color: #E3E3E3;
  height: 72px;
}


.choose-plan-cell{
  vertical-align: middle;
  background: #FAFAFA;
}

.hero-title-choose{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2px;
}

.hero-title-plan{
    font-weight: bold;
    font-size: 30px;
}

.standard-title{
  font-weight: bold;
  font-size: 24px;
  background-color: #89C331;
  color: #FFFFFF;
  width: 284px;  
  height: 81px;
}

.ultimate-title{
  font-weight: bold;
  font-size: 28px;
  color: #FFFFFF;
  background-color: #F04A56;
  width: 284px;  
}

.premium-title{
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  background-color: #20807C;
  width: 295px; 
}

.price div{
  display: flex;
}

tr:nth-child(2) td{
  vertical-align: top;
}

.price div span:first-child{
  font-weight: bold;
  font-size: 60px;
  margin-top: 23px;
  margin-left: 33px;
  position: relative;
}

.price div span:last-child{
  font-size: 18px;
  line-height: 28px;
  margin-top: 31px;
  margin-left: 3px;
}

.price div span:first-child::after{
  content: '.99';
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  top: -14px;
}

tr .price{
  background-color: #FAFAFA;
  text-align: left;
}

tr .price:nth-child(1){
  border-right: 1px solid #c7c7c7
}

tfoot{
  height: 125px;
}

tfoot td:nth-child(1){
  background-color: #DDDDDD;
}

tfoot td:nth-child(even){
  background-color: #EEEEEE;
}

tfoot td:nth-child(3){
  background-color: #F4F4F4;
}

tfoot td a{
  width: 195px;
  height: 42px;
  display: block;
  padding-top: 18px;
  font-weight: bold;
  font-size: 16px;
  margin-inline: auto;  
  color: #FFFFFF;
  border-radius: 5px;

}
.link-contact{
  background-color: #484848;
  box-shadow: 0 9px 0 #404040;
}

.link-buy-standart{
  background-color: #89C331;
  box-shadow: 0 9px 0 #79B027;
}

.link-buy-ultimate{
  background-color: #F04A56;
  box-shadow: 0 9px 0 #DF3A46;
}

.link-buy-premium{
  background-color: #20807C;
  box-shadow: 0 9px 0 #16736F;
}






