.modal-container{
    background-color: rgba(0,0,0,0.85);
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: white;
    width: 516px;
    border-radius: 4px;
    padding-block: 20px;

    p{
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 27.5px;
        color: rgb(67, 67, 67)
    }
    
    
    &__buttons{
        display: flex;
        justify-content: center;
        column-gap: 10px;

        button{
            width: 101px;
            height: 41px;
            font-size: 15px;
            font-weight: 400;
            border: none;
            border-radius: 4px;
            color: white;
        }
    }
}