* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.episode{
    list-style-type: none;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 15px;
    padding-inline: 10px;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #1b1818;
    margin-inline: auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -14px;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 14px;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 10px 0 -5px;
    }
    40% {
        box-shadow: 0 10px 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 10px 0 -5px;
    }
    40% {
        box-shadow: 0 10px 0 0;
    }
}