.cart-item {
    width: 100%;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.38);
    border-radius: 3px;
    display: flex;

    img{
        width: 100px;
    }
    &__info{
        width: 100%;
        margin-inline: 15px;
        padding-block: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header{
        display: flex;
        justify-content: space-between;

        h4{
           font-weight: 500;
        }

        p{
            font-weight: 700;
        }
    }

    &__control{
        height: 35px;
        display: flex;
        align-items: center;
        column-gap: 10px;

        button{
            border: 1px solid black;
            width: 25px;
            height: 25px;
            background-color: white;
            &:hover{
                background-color: rgb(236, 234, 234);
            }
        }

        div{
            width: 25px;
        }

        img{
            cursor: pointer;
            width: 30px;
        }
    }
}
