*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}

body{
    background-image: url(./img/Фон\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding-inline: 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin-block: 18px;
    cursor: pointer;
    transition: color 0.3s;
}

.logo:hover{
    color: #236D47;
}

.hero-menu{
    display: flex;
    align-items: center;
}

.hero-menu-img{
    margin-right: 25px;
    cursor: pointer;
}

.hero-menu-img:hover path{
    fill: #236D47;
    transition: 0.3s;
}

.hero-log-in{
    font-size: 14px;
    color: #FFFFFF;
    height: 19px;
    line-height: 19px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 27px;
}

.hero-log-in-link{
    color: #FFFFFF;
    transition: color 0.3s;
}

.hero-log-in-link:hover{
    color: #236D47;
}

main{
    height: calc(100% - 58px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-form{
    position: relative;
    width: 444px;
    padding-inline: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);   
}

.sign-up-form::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    top: 29px;
    left: 0;
}

.sign-up-form-head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 15px;
    justify-content: space-between;
    margin-bottom: 31px;
}

.sign-up-form-title{
    font-size: 20px;
    padding-top: 31px;
    color: #434343;
}

.sign-up-form-link{
    font-size: 14px;
    color: #3CB878;
    padding-top: 33px;
    text-align: end;
    transition: color 0.3s, text-decoration 0.3s;
}

.sign-up-form-link:hover{
    color: #01813F;;
    text-decoration: underline;
}

.sign-up-form-buttons{
    display: flex;
    justify-content: space-between;
    background: #305DB8;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sign-up-form-buttons:hover{
    background-color: #022263;
}

.sign-up-form-buttons:last-child{
    background: #DF4A32;
}

.sign-up-form-buttons:last-child:hover{
    background-color:#AB1F09;
}

.sign-up-form-buttons-text{
    height: 28px;
    width: 110px;
    line-height: 28px;
    margin-block: 10px;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
}

.sign-up-form-buttons-text:last-child{
    border-left: 1px solid rgba(43, 13, 9, 0.1);
}

.sign-up-form-buttons-img{
    margin: auto;
}

p{
    font-size: 14px;
    text-align: center;
    color: #848484;
    position: relative;
    margin-bottom: 12px;
}

p::before{
    content: "";
    height: 1px;
    width: 152px;
    background-color: rgba(242, 242, 242, 1);
    position: absolute;
    left: 0;
    top: 50%;
}

p::after{
    content: "";
    height: 1px;
    width: 152px;
    background-color: rgba(242, 242, 242, 1);
    position: absolute;
    right: 0;
    top: 50%;
}

.sign-up-form-field{
    width: 100%;
    height: 44px;
    line-height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    padding-left: 20px;
    outline: none;
    color: #434343;
    font-size: 14px;
}

.sign-up-form-field::placeholder{
    font-size: 14px;
    color: #BEBEBE;
}

.sign-up-form-field:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.sign-up-form-field:last-child{
    margin-bottom: 12px;
}

input[type=checkbox]:checked,
input[type=checkbox]:not(:checked){
    position: absolute;
    left: -9999px;
}

input[type=checkbox]:checked + label,
input[type=checkbox]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type=checkbox]:checked + label::before,
input[type=checkbox]:not(:checked) + label::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

input[type=checkbox]:checked + label::after,
input[type=checkbox]:not(:checked) + label::after{
    content: url(./img/Checkbox.svg);
    position: absolute;
    transition: all 0.2s ease;
    left: 3px;
    top: 3px;
}

input[type=checkbox]:not(:checked) + label::after{
    opacity: 0;
}

input[type=checkbox]:checked + label::after{
    opacity: 1;
}

.checkbox-label{
    font-size: 14px;
    color: #434343;
    margin-bottom: 20px;
}

.checkbox-label-link{
    color: #3CB878;
    transition: color 0.3s, text-decoration 0.3s;
}

.checkbox-label-link:hover{
    color: #01813F;;
    text-decoration: underline;
}

.sign-up-form-submit{
    width: 100%;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 16px 99px;
    margin-bottom: 38px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.sign-up-form-submit:hover{
    background-color: #01813F;
}