.main-page {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: sans-serif;
}

.add-news-btn {
   cursor: pointer;
   color: white;
   font-size: 18px;
   font-weight: bold;
   margin-block: 30px;
   height: 40px;
   padding-inline: 15px;
   background-color: rgb(50, 60, 113);
   box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(120, 127, 255, 0.5);
   border-radius: 8px;
   border: none;
   &:hover {
      background-color: rgb(13, 21, 67);
      box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(92, 97, 188, 0.5);
   }
}
