.modal-container{
    background-color: rgba(0,0,0,0.85);
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 516px;
    border-radius: 4px;

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 31px 21px 30px;
        h2{
            font-size: 22px;
            line-height: 23px;
            font-weight: 500;
        }
    }
    &__close{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    &__main{
        padding: 31.5px 42px 24px 41px;

        p{
            text-align: center;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 27.5px;
        }
    }
    
    &__buttons{
        display: flex;
        justify-content: center;
        column-gap: 10px;

        button{
            width: 101px;
            height: 41px;
            font-size: 15px;
            font-weight: 400;
            border: none;
            border-radius: 4px;
        }
    }
}

.modal-first{
    background-color: rgb(231, 76, 60);
        
    header {
        background-color: rgb(212, 70, 55);
    }
}

.modal-second {
    background-color: rgb(139, 201, 148);

    header {
        background-color: rgb(66, 167, 120);
    }
}