header{
    padding: 20px;

    h2{
        text-align: start;
        font-size: 25px;
        font-weight: 600;
        color: rgb(67, 67, 67);
    }
    nav{
        position: relative;
    }
    img{
        height: 30px;

        &:hover{
            height: 33px;
        }
    }
}

.catalog-link{
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    color: rgb(41, 41, 41);
    padding: 10px 5px;
    
    &:hover{
        color: rgb(100, 93, 93);
    }
    &.active{
        border-bottom: 1px solid black;        
        cursor: default;
        pointer-events: none;
    }
}

.header-icons{
    position: absolute;
    right: 0;
    top: 0;

    a{
        color: black;

    }

    .icon{
        position: absolute;

        &--favourive{
            right: 115px;
        }

        &--cart {
            right: 50px;
        }
        &.active {
            cursor: default;
            pointer-events: none;
        }

        span{
            position:absolute;
            bottom:-3px;
            right:-7px;
            background-color: white;
            border: 1.5px solid black;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            line-height: 14px;
            font-size: 10px;
            font-weight: bold;
        }
    }
}