header{
    position: relative;
    padding: 20px;

    h2{
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        color: rgb(67, 67, 67);
    }

    img{
        width: 30px;
    }
}

.header-icons{
    position: absolute;
    display: flex;
    column-gap: 20px;
    align-items: center;
    top: calc(50% - 12.5px);
    right: 50px;

    div{
        position:relative;

        span{
            position:absolute;
            bottom:-3px;
            right:-7px;
            background-color: white;
            border: 1.5px solid black;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            line-height: 14px;
            font-size: 10px;
            font-weight: bold;
        }
    }
}