* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.book-list-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 75px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 15px;
    padding-inline: 10px;
}

.book-list-item div{
    display: flex;
    justify-content: space-between;
}

.book-list-item h3{
    text-align: center;
}