.news-page {
   display: flex;
   margin-right: 100px;

   &__content {
      flex: 1;
      max-width: 500px;
      background-color: white;
      color: rgb(13, 21, 67);
      margin: 50px auto;
      padding: 20px 25px 70px 25px;
      border: 1px solid rgba(98, 98, 98, 0.2);
      border-radius: 5px;
      box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(120, 127, 255, 0.5);
      a {
         height: 30px;
         display: flex;
         justify-content: flex-end;
         img {
            cursor: pointer;
            height: 25px;
            &:hover {
               height: 28px;
            }
         }
      }
      h2 {
         margin-bottom: 60px;
         font-size: 17px;
      }
   }
}
