.footer{
    background-color: #000000;
    padding: rem(66) rem(16) rem(70);

    @media (max-width: 940px){
        padding-top: rem(57);
        padding-bottom: rem(56);        
    }

    &__discription{
        font-size: rem(16);
        line-height: rem(28);
        max-width: rem(684);
        margin: rem(22) auto 0;
        color: #B9B9B9;
        text-align: center;
    }

    div{
        @include flex;
        gap: rem(6);
        margin-top: rem(37);
    }

    &__contacts{
        font-size: rem(16);
        line-height: rem(26);    
        color: #B9B9B9;    
        max-width: rem(613);
        margin: rem(34) auto 0;
        text-align: center;
    }
}

@media (max-width: 373px){
    .footer{
        padding-top: rem(38);
        padding-bottom: rem(47);

        &__discription{
            font-size: rem(12);
            line-height: rem(20);
            max-width: rem(303);
            margin-top: rem(8);
        }

        div{
            margin-top: rem(26);
        }

        &__contacts{
            font-size: rem(14);
            line-height: rem(24);     
            margin-top: rem(25);     
            max-width: rem(235);  
        }
    }
}