*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(232, 232, 232);
}

body.preloader{
    height: 100vh;
}
.card{
    background-color: white;
    min-height: 85px;
    margin: 15px;
    padding: 25px;
    border: 1px solid rgba(98, 98, 98, 0.2);
    border-radius: 5px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
            10px 10px 15px rgba(120, 127, 255, 0.5);
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}
.card *{
    background-color: white;
}

.image-wrap{
display: flex;
justify-content: right;
}

.card__header{
    font-size: 15px;
    margin-bottom: 10px;
}
.card__user{
    font-size: 12px;
    color: rgb(101, 103, 107);
    display: flex;
    column-gap: 10px;
    margin-bottom: 20px;
}

.card__edit{
    padding: 1px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-right: 10px;
}

.card__delete{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.add-post-btn{
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-block: 30px;
    height: 40px;
    width: 50%;
    background-color: rgb(50, 60, 113);
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
            10px 10px 15px rgba(120, 127, 255, 0.5);
    border-radius: 8px;
    border: none;
}

.add-post-btn:hover {
    background-color: rgb(13, 21, 67);
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
            10px 10px 15px rgba(92, 97, 188, 0.5);
}

.form{
    position: fixed;
    z-index: -100;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 246, 246, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-form{
    z-index: 100;
    opacity: 1;
}

.form form{
    background-color:rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0;
    border-radius: 8px;
    height: 400px;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
    position: relative;
}

.form__title, .form__text{
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 5px;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
            inset 5px 5px 5px rgba(70, 70, 70, 0.3);
    padding-top: 15px;
    padding-left: 15px;
}


.form__header{
    background-color: white;
    color: rgb(2, 15, 86);
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(120, 127, 255, 0.5);
}

.form__title {
    min-height: 40px;
}

.form__text{
    height: 100%;
}

.close-form{
    position: absolute;
    height: 15px;
    width: 15px;
    cursor: pointer;
    right: 0;
    margin-right: 10px;
}

.close-form:hover{
    height: 17px;
    width: 17px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 3px 0;
}

.form__submit{
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(50, 60, 113);
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
            10px 10px 15px rgba(92, 97, 188, 0.5);
    border-radius: 8px;
    border: none;
}

.form__submit:hover {
    background-color: rgb(13, 21, 67);
    box-shadow: rgba(0, 0, 0, 0.6) 0 12px 28px 0;
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }

    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }

    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}