.news-item {
   background-color: white;
   min-height: 70px;
   color: rgb(13, 21, 67);
   margin: 15px;
   padding: 10px 25px;
   border: 1px solid rgba(98, 98, 98, 0.2);
   border-radius: 5px;
   box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(120, 127, 255, 0.5);
   max-width: 800px;

   h4 {
      text-align: start;
   }

   p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: start;
   }
}
