.App {
  text-align: center;
  position: relative;
  
  a {
      text-decoration: none;
  }
  
  h3{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
  }

  .cart-page{
    display:flex;
    margin-left: 50px;
    margin-right: 75px;
    column-gap: 25px;
  }
}
