body {
	width: 100%;
	height: 100%;
	font-family: 'Fjalla One', sans-serif;
	color: rgb(251, 207, 0);
	background-color: rgb(17, 17, 17);
	overflow: hidden;
}

audio{
    opacity: 0.1;
}

.wrapper{
	position: absolute;
	width: 950px;
	height: 4000px;
	bottom: 0;
	left: calc(50% - 475px);
	font-size: 70px;
	line-height: 120px;
	font-weight: bold;
	text-align: justify;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(24deg);
}

.content{
	position: absolute;
	top: 100%;
	animation: title 30s linear infinite;
}

h1, h2{
    text-align: center;
    margin-bottom: 1em;
}

p{
    margin-bottom: 1em;
}

@keyframes title {
	0% { top: 100%; }
	100% { top: 0%; }
}