*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

body{
    background-image: url(./images/background\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.bgchanger{
    background-image: url(./images/bgchange.jpg);
}

.container{
    width: 1028px;
    margin: 0 auto;
}

.hero{
    display: flex;
    justify-content: space-between;
}


.logo{
    display: flex;
    margin-top: 51px;
    padding: 10px;
    margin-bottom: 26px;
}

.logo-title{
    font-weight: bold;
    font-size: 29px;
    margin-left: 8px;
    color: #FFFFFF;
}

.logo:hover .logo-img{
    content: url(./images/logo\ 2.png);    
    transition: 0.2s;    
}

.logo:hover .logo-title{
    color: #F26522;
    transition: 0.2s;    
}

h2{
    font-size: 18px;
}

.contacts{
    font-size: 18px;
    margin-top: 46px;
    text-align: end;
}

.contacts-links{
    color: #FFFFFF;
    display: block;
}

.contacts-links:hover{
    color: #F26522;
    transition: 0.5s;
}

.contacts-links:last-child{
    margin-top: 19px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 64px;
    row-gap: 37px;
    margin-bottom: 49px;
}

h4{
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    text-align: center;
}

.copyright{
    font-size: 12px;
    color: #FFFFFF;   
    text-align: center;
    margin-bottom: 15px; 
}

.btn{
    font-size: 20px;
    padding: 10px;
    color: #FFFFFF;   
    text-align: center;
    background-color: #F26522;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

.tour-wrap{
    position: relative;
    overflow: hidden;   
}

.tour-img{
    width: 100%;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, black 0%, white 100%);
    border-image-slice: 1;
}

.tour-hover{
    background-color: #F26522;
    color: #FFFFFF;;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: -100px;
    transition: 0.5s;
}

.tour-hover-price{
    margin: 7px 0 12px 16px;
}

.tour-hover-price-from{
    font-size: 10px;
    margin-bottom: 8px;
}

.tour-hover-price-euro{
    font-size: 20px;
}

.tour-hover-details{
    margin: 29px 37px 12px 0;
    font-size: 14px;
}

.tour-hover-details::after{
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    transform: rotate(45deg);
    right: 16px;
    top: 31px;
}

.tour:hover .tour-hover{
    bottom: 0;
}

.tour:hover h4{
    color: #F26522;
    transition: 0.5s;
}

.changeColor{
    color: #002d29;
    font-weight: bold;
    text-shadow: 2px 2px 2px #FFFFFF;
}

.changeBGC{
    background-color: #002d29;
    border: 2px solid #F26522;
    border-radius: 4px;
}