* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: calibri;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.menu{
    margin: 25.5px 330px;
    display: flex;
    justify-content: space-between;
}

.menu-item{
    display: inline-block;
}

.menu-item-link{
    font-size: 18px;
    color: #FF0000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.7px;
}

main{
    color: #373737;
}

.image{
    width: 100%;
    margin-bottom: 49px;
}

.title{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 38px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}

.text{
    font-size: 16px;
    line-height: 26px;
    margin: 0 67.5px 28px;
    letter-spacing: 2.4px;
}

.footer-link{
    display: inline-block;
    margin: 38px auto 99px;
    background-color: #FF0000;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 43.5px;
    letter-spacing: 1.8px;
    border-radius: 4px;
}

.copyright{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    margin: 0 105px 29px 0;
}